body {
    background-color: #f7f9fc; /* Светлый фон */
    font-family: Arial, sans-serif; /* Простой шрифт */
    margin: 0;
    color: #333; /* Тёмно-серый текст */
}

.navbar {
    display: flex;
    justify-content: flex-end; /* Выравнивание навигации вправо */
    background-color: #4a90e2; /* Светло-голубой цвет для навигации */
    padding: 10px 20px;
}

.navbar a {
    color: white; /* Белый цвет текста для ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 1.2em; /* Размер шрифта для ссылки */
    margin-left: 20px; /* Отступ между ссылками */
}

.instruction {
    background-color: #4a90e2; /* Цвет фона для инструкции */
    color: white; /* Белый текст */
    padding: 15px;
    text-align: center;
    margin: 20px 0; /* Отступ сверху и снизу */
}

.image-container {
    display: flex;
    justify-content: center; /* Центрирование изображения */
    margin-top: 24px;
}

.welcome-image {
    width: 1000px; /* Ширина изображения */
    height: auto; /* Автоматическая высота для пропорций */
    border: 2px solid #000; /* Чёрная рамка вокруг изображения */
}
