<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add user to app database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='favicon.png') }}">
  </head>
  <body>
    <nav class="navbar">
      <a href="/users">login</a>
    </nav>
    {% if popup %}
      <ul class=flashes>
      {% for category, message in popup %}
          <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    <form class="form" action="/add_user" method="POST">
      <label for="name">User Name</label>
      <input type="text" id="name" name="name" placeholder=" Example_Name01" required><br><br>
      <input type="submit" value="Add New User">
    </form>
  </body>
</html>