<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add movie to user's app inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='favicon.png') }}">
  </head>
  <body>
    <nav class="navbar">
      <a href="/users">switch user</a>
      <a href="/users/{{ user_id }}/add_movie">add movie</a>
      <a href="/users/{{ user_id }}">home</a>
    </nav>
    {% if popup %}
      <ul class=flashes>
      {% for category, message in popup %}
          <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    <form class="form" action="/users/{{ user_id }}/add_movie/confirm" method="POST">
      <label for="name">Complete Movie Title</label>
      <input type="text" id="name" name="name" placeholder="e.g. the godfather part II" required><br><br>
      <input type="submit" value="Look for Movie">
    </form>
  </body>
</html>