<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm movie deletion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='favicon.png') }}">
  </head>
  <body>
    <nav class="navbar">
      <a href="/users">switch user</a>
      <a href="/users/{{ user_id }}/add_movie">add movie</a>
      <a href="/users/{{ user_id }}">home</a>
    </nav>
    <div class="bulk_body">
      <p class="username_bold">{{ user }}'s movie database</p>
    </div>
    <p class="instruction">Remove this movie from your database?</p>
    <div class="movie_centered">
      <div>
        {% if movie.year == 0 %}
          <h3 class="movie_header">{{ movie.name }} (n/a)</h3>
        {% else %}
          <h3 class="movie_header">{{ movie.name }} ({{ movie.year }})</h3>
        {% endif %}
        <div class="img-box">
          <img
              src="{{ movie.poster }}"
              alt="missing poster"
              onerror="this.onerror=null; this.src='/static/missing_image.jpg';"
          />
          {% if movie.rating == 0.0 %}
            <p class="movie-rating">n/a</p>
          {% else %}
            <p class="movie-rating">{{ movie.rating }}</p>
          {% endif %}
        </div>
      </div>
      <div>
        <div class="movie_by">
          <p>dir. {{ movie.director }}</p>
        </div>
      </div>
      <form style="margin-top: 0;" action="/users/{{ user_id }}/delete_movie/{{ movie.id }}" method="GET">
        <input type="submit" class="red-hover-button" value="YES">
      </form>
      <form style="margin-top: 0;" action="/users/{{ user_id }}" method="GET">
        <input type="submit" value="NO">
      </form>
    </div>
  </body>
</html>