<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm user deletion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='favicon.png') }}">
  </head>
  <body>
    <nav class="navbar">
      <a href="/users">switch users</a>
      <a href="/users/{{ user_id }}/add_movie">add movie</a>
      <a href="/users/{{ user_id }}">home</a>
    </nav>
    <div class="bulk_body">
      <p style="font-size:2em; margin-left:20px; color: #3d495c; font-weight: bold;">{{ username }}'s movie database</p>
    </div>
    <p class="instruction">Delete account '{{ username }}' and all related movie entries?</p>
    <div class="movie_centered" style="justify-content: right">
      <form style="margin-top: 25px;" action="/users/{{ user_id }}/delete_user" method="GET">
        <input type="submit" class="red-hover-button" value="YES">
      </form>
      <form style="margin-top: 0;" action="/users/{{ user_id }}" method="GET">
        <input type="submit" value="NO">
      </form>
    </div>
  </body>
</html>