<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm adding of movie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='favicon.png') }}">
  </head>
  <body>
    <nav class="navbar">
      <a href="/users">switch users</a>
      <a href="/users/{{ user_id }}/add_movie">add movie</a>
      <a href="/users/{{ user_id }}">home</a>
    </nav>
    <div class="bulk_body">
      <p class="username_bold">{{ user }}'s movie database</p>
    </div>
    <p class="instruction">Is this the movie you wanted to add?</p>
    <div class="movie_centered">
      <div>
        {% if year == 0 %}
          <h3 class="movie_header">{{ name }} (n/a)</h3>
        {% else %}
          <h3 class="movie_header">{{ name }} ({{ year }})</h3>
        {% endif %}
        <div class="img-box">
          <img
              src="{{ poster }}"
              alt="missing poster from OMDb"
              onerror="this.onerror=null; this.src='/static/missing_image.jpg';"
          />
          {% if rating == 0.0 %}
            <p class="movie-rating">n/a</p>
          {% else %}
            <p class="movie-rating">{{ rating }}</p>
          {% endif %}
        </div>
      </div>
      <div>
        <div class="movie_by">
          <p>dir. {{ director }}</p>
        </div>
      </div>
      <form style="margin-top: 0;" action="/users/{{ user_id }}/add_movie" method="POST">
        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="director" value="{{ director }}">
        <input type="hidden" name="year" value="{{ year }}">
        <input type="hidden" name="rating" value="{{ rating }}">
        <input type="hidden" name="poster" value="{{ poster }}">
        <input type="submit" value="Yes, add this movie">
      </form>
      <form style="margin-top: 0;" action="/users/{{ user_id }}/add_movie" method="GET">
        <input type="submit" value="No, try a modified title">
      </form>
    </div>
  </body>
</html>