<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add movie to user's app inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='favicon.png') }}">
  </head>
  <body>
    <nav class="navbar">
      <a href="/users">switch user</a>
      <a href="/users/{{ user_id }}/add_movie">add movie</a>
      <a href="/users/{{ user_id }}">home</a>
    </nav>
    {% if popup %}
      <ul class=flashes>
      {% for category, message in popup %}
          <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    <form class="form" action="/users/{{ user_id }}/update_movie/{{ movie.id }}" method="POST">
      <label for="name" style="color: grey;">Title</label>
      <input type="text" id="name" name="name" value="{{ movie.name }}"required><br>
      <label for="director" style="color: grey;">Director</label>
      <input type="text" id="director" name="director" value="{{ movie.director }}"required><br>
      <label for="year" style="color: grey;">Year</label>
      <input type="text" id="year" name="year" value="{{ movie.year }}"required><br>
      <label for="rating" style="color: grey;">IMDb Rating</label>
      <input type="text" id="rating" name="rating" value="{{ movie.rating }}"required><br>
      <label for="poster" style="color: grey;">Poster URL</label>
      <input type="text" id="poster" name="poster" value="{{ movie.poster }}"required><br><br>
      <input type="submit" value="Update Movie">
    </form>
  </body>
</html>