<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users overview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='favicon.png') }}">
  </head>
  <body>
    <nav class="navbar">
      <a href="/add_user">create account</a>
      <a href="/">welcome page</a>
    </nav>
    <p class="instruction" style="background-color: #3d495c; margin-top: 24px;">
      Select your account or create a new one
    </p>
    {% if popup %}
      <ul class=flashes>
      {% for category, message in popup %}
          <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    <div style="margin-top: 30px;"></div>
    {% for user in users %}
      <div class="bulk_body" style="margin: 10px; margin-left: 30px;">
        <a class="username_bold" style="text-decoration:none" href="/users/{{ user.id }}">{{ user.name }}</a>
      </div>
    {% endfor %}
    </div>
  </body>
</html>