<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='favicon.png') }}">
  </head>
  <body>
    <nav class="navbar">
      <a href="/users/{{ user_id }}/delete_user/confirm" style="color: #630e0e;">delete this user</a>
      <a href="/users">switch users</a>
      <a href="/users/{{ user_id }}/add_movie">add movie</a>
      <a href="/users/{{ user_id }}">home</a>
    </nav>
    {% if popup %}
      <ul class=flashes>
      {% for category, message in popup %}
          <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    <div class="bulk_body">
      <p style="font-size:2em; margin-left:20px; color: #3d495c; font-weight: bold;">{{ user }}'s movie database</p>
    </div>
    <div class="bulk_body">
      {% for movie in movies %}
       <div class="movie_repr">
          <div>
            <h3>{{ movie.name }} ({{ movie.year }})</h3>
            <div class="img-box">
              <img
                  src="{{ movie.poster }}"
                  alt="missing poster"
                  onerror="this.onerror=null; this.src='/static/missing_image.jpg';"
              />
              {% if movie.rating == 0.0 %}
                <p class="movie-rating">n/a</p>
              {% else %}
                <p class="movie-rating">{{ movie.rating }}</p>
              {% endif %}
            </div>
          </div>
          <div>
            <div class="movie_by">
              <p>dir. {{ movie.director }}</p>
              <form action="/users/{{ user_id }}/delete_movie/{{ movie.id }}/confirm" method="GET">
                <input style="color: #dbd5cc;" type="submit" value="delete">
              </form>
            </div>
            <form style="margin-top: 0;" action="/users/{{ user_id }}/update_movie/{{ movie.id }}" method="GET">
              <input type="submit" value="EDIT">
            </form>
          </div>
       </div>
      {% endfor %}
    </div>
  </body>
</html>