<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <nav class="navbar">
      <a href="/users">switch user</a>
      <a href="/users/{{ user_id }}/add_movie">add movie</a>
      <a href="/users/{{ user_id }}">home</a>
    </nav>
    {% if popup %}
      <ul class=flashes>
      {% for category, message in popup %}
          <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    <div class="bulk_body">
      {% for movie in movies %}
       <div class="book_repr">
          <div>
            <h3>{{ movie.name }} ({{ movie.year }})</h3>
            <img src="{{ movie.poster }}" alt="poster from OMDb"/>
          </div>
          <div>
            <div class="book_by">
              <p>dir. {{ movie.director }}</p>
              <form action="/users/{{ user_id }}/update_movie/{{ movie.id }}" method="GET"> <!--gotta delete 2 tables' entries. How?-->
                <input style="color: #dbd5cc;" type="submit" value="edit details">
              </form>
            </div>
            <form style="margin-top: 0;" action="/users/{{ user_id }}/delete_movie/{{ movie.id }}/confirm" method="GET">
              <input type="submit" value="DELETE">
            </form>
          </div>
       </div>
      {% endfor %}
    </div>
  </body>
</html>