<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyMovieDB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='favicon.png') }}">
  </head>
  <body>
    <nav class="navbar">
      <a href="/users">select user</a>
    </nav>
    <p class="instruction" style="background-color: #3d495c; margin-top: 24px;">
      Welcome to MovieDB, a place to keep track of your favorite movies
    </p>
    <div style="display: grid;">
      <div style="justify-self: center; margin-top: 24px;">
        <img
            src="/static/welcome.jpg"
            alt="error loading image"
            width="1000"
            height="600"
            style="width: 1000px;"
            border="2px solid #000"
        >
      </div>
    </div>
  </body>
</html>